.chat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid rgb(29, 40, 65);
}

a{
    text-decoration: none !important;
    color: inherit !important;
}

.chat__details{
    flex: 1;
}

.chat__image{
    margin-right: 20px;
}

.chat__timestamp {
    color: #bbbbbb;
}

.chat__details > p{
    color: gray;
}